<div id="hinh">
    <img src="frontend/img/logo-nguyenty.png" width="200px" height="170px">
</div>
<div class="text-justify">
    <% if Erp::Contents::Content.get_main_info.present? %>
        <%= Erp::Contents::Content.get_main_info.content.html_safe if  Erp::Contents::Content.get_main_info.content.present? %>
    <% end %>
</div>