<div id="hinh">
    <img src="frontend/img/logonguyenty.jpg" width="200px" height="170px">
</div>
<p>
    <b>
        <font color="green">TIỆC – SỰ KIỆN </font>
        <font color="red">NGUYỄN TY </font>
    </b>
    <font color="black">
        là một trong những đơn vị chuyên cho thuê các công cụ dụng cụ, thiết bị về tiệc và sự kiện. Với tiêu chí hoạt động: Chất lượng – Uy tín – Phục vụ chuyên nghiệp, với giá thành hấp dẫn nhất dành cho quý khách hàng, quý đối tác khi lựa chọn sử dụng dịch vụ của chúng tôi.
    </font>
</p>