<div id="slogan">
    <p>
        <marquee onmouseover="this.stop()" onmouseout="this.start()" scrollamount="15" width="90%">
            <%= Erp::Contents::Content.get_slide_info.content.html_safe if  Erp::Contents::Content.get_slide_info.content.present? %>
        </marquee>
    </p>
</div>