<div id="slogan">
    <p>
        <marquee onmouseover="this.stop()" onmouseout="this.start()" scrollamount="15" width="90%"><b><font color="green"> TIỆC - SỰ KIỆN</font><font color="red"> NGUYỄN TY</font> _ <font color="blue">LIÊN HỆ: 0938.22.44.57 - 0963.817.660</font></b></font>
        </marquee>
    </p>
</div>